main {
  text-align: center;
}

input[type=password], input[type=submit], #key {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border: 1px solid #555;
   padding: 1.5em;
   margin: 1em;
   font-size: 15px;
   line-height: 1.2em;
   width: 80%;
   background: #fff;
   box-shadow: 1px 1px 1px #fff;
   border-radius: 0.5em;
   border: 1px solid #bbb;
}

input[type=submit] {
  width: 83.5%;
}

.pointer {
  cursor: pointer;
}
